#board{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    margin: 5px;
    cursor: pointer;
  }
  
  .flipped {
    background-color: white;
    color: black;
  }
  
  .matched {
    background-color: green;
  }
  
  .player {
    font-size: 18px;
    margin: 10px;
  }
  
  .active {
    font-weight: bold;
  }
  
  